@model GestaoOcorrencias.Web.Models.Dtos.OcorrenciaDto

@{
    ViewData["Title"] = "Read";
}

<h1>Read</h1>

<div>
    <h4>OcorrenciaDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOcorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOcorrencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelAbertura.Name)
        </dd>
              <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelOcorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelOcorrencia.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conclusao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Ocorrencia" asp-action="Ocorrencias">Back to List</a>
</div>
